@import "../../Variables.scss";

#root .RecyclingModule {
	.Blip {
		display: inline-block;
		width: 12px;
		height: 12px;
		border-radius: 99px;

		&.Metal {
			background: #ff7777;
		}

		&.Plastic {
			background: #7777ff;
		}
	}

	.GrandTotal {
		margin-top: 1em;
	}
}